<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div id="applicationHost">

        <!-- The application is rendered here -->

    </div>

    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import("App/main");
    </script>
    <!-- jspm bundle App/main -->
    <!-- <script src="build.js"></script> -->
</body>
</html>
